.navbarStyles {
  background-color: #804851;
  position: fixed;
  width: 100%;
  z-index: 1000; }

.navbarStyles a {
  color: white; }

.imgAnimate {
  grid-area: imgAnimate;
  padding: 100px; }

.gridHome {
  display: grid;
  grid-template-areas: "headerHome" "mainHome" "footerHome";
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, auto); }

.headerGrid {
  grid-area: headerHome; }

.mainGrid {
  grid-area: mainHome;
  background-color: #fff2e3;
  padding-top: 56px; }

.footerGrid {
  grid-area: footerHome; }

footer {
  align-items: center;
  display: flex;
  background-color: #804851;
  padding: 60px 0;
  padding-top: 0;
  color: #ffe4c4; }

hr {
  border: 1px solid #ffe4c4;
  opacity: 1;
  margin: 25px 0; }

.textoForm {
  grid-area: textoForm;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #804851;
  color: #ffe4c4;
  height: 100%;
  padding: 70px 10%; }

.form {
  grid-area: form;
  padding: 40px 10%;
  background-color: #804851;
  color: #ffe4c4; }

form {
  width: 500px; }

textarea {
  height: 150px; }

.textoUbicacion1 p,
.textoUbicacion2 p {
  font-size: 24px;
  color: #2c514c; }

.imgPrincipalUbi {
  grid-area: imgPrincipalUbi;
  background-image: url("../img/fashion.jpg");
  min-height: 450px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none !important; }

.gridContainerUbicacion {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: "textoUbicacion1 textoUbicacion1" "imgPrincipalUbi imgPrincipalUbi" "textoUbicacion2 textoUbicacion2" "textoForm form"; }

.textoUbicacion {
  grid-area: textoUbicacion;
  align-items: center;
  justify-content: center;
  display: flex;
  color: #2c514c;
  padding: 0 10%;
  height: 300px;
  font-size: 26px; }

.textoUbicacion1 {
  grid-area: textoUbicacion1;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100%;
  padding: 70px 10%; }

.textoUbicacion2 {
  grid-area: textoUbicacion2;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100%;
  padding: 70px 10%; }

.gridPreguntas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: "accordion accordion" "textoForm form";
  background-color: white; }

.textoPreguntas {
  padding: 50px;
  font-size: 36px;
  color: #2c514c; }

.accordionStyle {
  grid-area: accordion;
  padding: 50px 15% 100px; }

.texto p {
  padding: 30px 15px;
  margin: 0;
  background-color: #2c514c;
  margin-right: 50px; }

.accordion {
  --bs-accordion-color:#000;
  --bs-accordion-bg: #fff;
  --bs-accordion-transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
  --bs-accordion-border-color: var(--bs-border-color);
  --bs-accordion-border-width: 1px;
  --bs-accordion-border-radius: 0.375rem;
  --bs-accordion-inner-border-radius: calc(0.375rem - 1px);
  --bs-accordion-btn-padding-x: 1.25rem;
  --bs-accordion-btn-padding-y: 1.7rem;
  --bs-accordion-btn-color: var(--bs-body-color);
  --bs-accordion-btn-bg: var(--bs-accordion-bg);
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='var%28--bs-body-color%29'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  --bs-accordion-btn-icon-width: 1.25rem;
  --bs-accordion-btn-icon-transform: rotate(-180deg);
  --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  --bs-accordion-btn-focus-border-color: #86b7fe;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  --bs-accordion-body-padding-x: 1.25rem;
  --bs-accordion-body-padding-y: 1rem;
  --bs-accordion-active-color: black;
  --bs-accordion-active-bg: white; }

.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 40px;
  font-size: 1rem;
  color: var(--bs-accordion-btn-color);
  text-align: left;
  background-color: var(--bs-accordion-btn-bg);
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  transition: var(--bs-accordion-transition); }

@media (prefers-reduced-motion: reduce) {
  .accordion-button {
    transition: none; } }

.accordion-button:not(.collapsed) {
  color: --bs-accordion-active-color;
  background-color: var(--bs-accordion-active-bg);
  box-shadow: inset 0 calc(var(--bs-accordion-border-width) * -1) 0 var(--bs-accordion-border-color); }

.accordion-button:not(.collapsed)::after {
  background-image: var(--bs-accordion-btn-active-icon);
  transform: var(--bs-accordion-btn-icon-transform); }

.accordion-button::after {
  flex-shrink: 0;
  width: var(--bs-accordion-btn-icon-width);
  height: var(--bs-accordion-btn-icon-width);
  margin-left: auto;
  content: "";
  background-image: var(--bs-accordion-btn-icon);
  background-repeat: no-repeat;
  background-size: var(--bs-accordion-btn-icon-width);
  transition: var(--bs-accordion-btn-icon-transition); }

@media (prefers-reduced-motion: reduce) {
  .accordion-button::after {
    transition: none; } }

.accordion-button:hover {
  z-index: 2; }

.accordion-button:focus {
  z-index: 3;
  border: none;
  outline: 0;
  box-shadow: none; }

.accordion-header {
  margin-bottom: 0; }

.accordion-item {
  color: var(--bs-accordion-color);
  background-color: var(--bs-accordion-bg);
  border: none;
  border-bottom: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color); }

.accordion-item:first-of-type {
  border-top-left-radius: var(--bs-accordion-border-radius);
  border-top-right-radius: var(--bs-accordion-border-radius); }

.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: var(--bs-accordion-inner-border-radius);
  border-top-right-radius: var(--bs-accordion-inner-border-radius); }

.accordion-item:not(:first-of-type) {
  border-top: 0; }

.accordion-item:last-of-type {
  border-bottom-right-radius: var(--bs-accordion-border-radius);
  border-bottom-left-radius: var(--bs-accordion-border-radius); }

.accordion-item:last-of-type .accordion-button.collapsed {
  border-bottom-right-radius: var(--bs-accordion-inner-border-radius);
  border-bottom-left-radius: var(--bs-accordion-inner-border-radius); }

.accordion-item:last-of-type .accordion-collapse {
  border-bottom-right-radius: var(--bs-accordion-border-radius);
  border-bottom-left-radius: var(--bs-accordion-border-radius); }

.accordion-body {
  padding: 20px 40px; }

.accordion-flush .accordion-collapse {
  border-width: 0; }

.accordion-flush .accordion-item {
  border-right: 0;
  border-left: 0;
  border-radius: 0; }

.accordion-flush .accordion-item:first-child {
  border-top: 0; }

.accordion-flush .accordion-item:last-child {
  border-bottom: 0; }

.accordion-flush .accordion-item .accordion-button {
  border-radius: 0; }

.bgImgContacto {
  height: 100%;
  background-image: url("../img/fotovintage2.jpg"); }

.textoNosotros {
  text-align: center;
  background-color: #ffe4c4;
  margin: 0;
  margin-right: 50px;
  padding-top: 30px; }

.textoNosotros2 {
  text-align: center;
  background-color: #ffe4c4;
  margin: 0;
  margin-left: 50px;
  padding-top: 30px; }

.gridQuienesSomos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: "imgAnimate texto" "texto2 imgAnimate2" "textoForm form"; }

.texto {
  grid-area: texto;
  align-items: center;
  height: 100%;
  display: block;
  padding-top: 100px; }

.texto p {
  padding: 30px 15px;
  margin: 0;
  background-color: bisque;
  margin-right: 50px; }

.texto2 p {
  padding: 30px 15px;
  margin: 0;
  background-color: bisque;
  margin-left: 50px; }

.imgAnimate {
  grid-area: imgAnimate;
  padding: 100px 10%; }

.imgAnimate2 {
  grid-area: imgAnimate2;
  padding: 100px 10%; }

.imgAnim {
  width: 100%; }

.texto2 {
  grid-area: texto2;
  align-items: center;
  height: 100%;
  display: block;
  padding-top: 100px; }

.imgAnim {
  width: 100%; }

.gridUbicacion {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: "imgUbic imgUbic" "textoUbicacion textoUbicacion" "mapaUbicacion mapaUbicacion" "textoForm form"; }

.mapaUbicacion {
  grid-area: mapaUbicacion;
  width: 100%;
  height: 450px; }

.imgUbic {
  grid-area: imgUbic;
  background-image: url("../img/moda.jpg");
  min-height: 450px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none !important;
  display: flex;
  padding: 50px;
  background-color: rgba(29, 28, 28, 0.4);
  position: relative; }

.grayLayout {
  background-color: rgba(29, 28, 28, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.textoImgUbic {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
  font-size: 70px;
  color: white;
  font-weight: 900;
  font-family: Andale Mono, monospace; }

.textoUbicacion {
  grid-area: textoUbicacion;
  align-items: center;
  justify-content: center;
  display: flex;
  color: #2c514c;
  padding: 4% 10%;
  height: 100%;
  font-size: 26px; }

.spanTexto {
  display: block;
  width: 100%;
  margin: 10px; }

.imgCard {
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: white;
  font-size: 50px;
  font-weight: 700;
  overflow: hidden !important;
  position: relative; }

.imgCard p {
  position: absolute;
  z-index: 5;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }

.imgCard img {
  height: 100%;
  width: 100%;
  object-fit: cover; }

.imgAnimation {
  transform: scale(1);
  transition: 4s; }

.imgAnimation:hover {
  transform: scale(1.2);
  transition: 4s;
  filter: sepia(100%); }

.imgServicios1 {
  grid-area: imgServicios1; }

.imgServicios2 {
  grid-area: imgServicios2; }

.imgServicios3 {
  grid-area: imgServicios3; }

.imgServicios4 {
  grid-area: imgServicios4; }

.imgServicios5 {
  grid-area: imgServicios5; }

.imgServicios6 {
  grid-area: imgServicios6; }

.tituloServicios {
  grid-area: tituloServicios;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 90px;
  color: #2c514c; }

.gridServicios {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: "tituloServicios tituloServicios" "imgServicios1 imgServicios2" "imgServicios3 imgServicios4" "imgServicios5 imgServicios6" "textoForm form"; }

@media only screen and (max-width: 820px) {
  .gridContainerUbicacion {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: "textoUbicacion1 textoUbicacion1" "imgPrincipalUbi imgPrincipalUbi" "textoUbicacion2 textoUbicacion2" "mapaUbicacion mapaUbicacion" "textoForm textoForm" "form form"; }
  .gridUbicacion {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: "imgUbic imgUbic" "textoUbicacion textoUbicacion" "mapaUbicacion mapaUbicacion" "textoForm textoForm" "form form"; }
  .gridServicios {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: "tituloServicios tituloServicios" "imgServicios1 imgServicios1" "imgServicios2 imgServicios2" "imgServicios3 imgServicios3" "imgServicios4 imgServicios4" "imgServicios5 imgServicios5" "imgServicios6 imgServicios6" "textoForm textoForm" "form form"; }
  .gridQuienesSomos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: "imgAnimate imgAnimate" "texto texto" "imgAnimate2 imgAnimate2" "texto2 texto2" "textoForm textoForm" "form form"; }
  .gridPreguntas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: "accordion accordion" "textoForm textoForm" "form form"; }
  .texto {
    grid-area: texto;
    align-items: center;
    height: 100%;
    display: block;
    padding: 50px 0; }
  .texto2 {
    grid-area: texto2;
    align-items: center;
    height: 100%;
    display: block;
    padding: 50px 0; }
  .texto p {
    padding: 30px 15px;
    margin: 0;
    background-color: bisque;
    margin: 0 5%; }
  .texto2 p {
    padding: 30px 15px;
    margin: 0;
    background-color: bisque;
    margin: 0 5%; }
  .textoNosotros {
    text-align: center;
    background-color: bisque;
    margin: 0 5%;
    padding-top: 30px; }
  form {
    width: 100%; }
  .textoForm {
    grid-area: textoForm;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #804851;
    color: #ffe4c4;
    height: 100%;
    padding: 70px 10% 0; }
  .textoUbicacion1 p,
  .textoUbicacion2 p {
    font-size: 20px;
    color: #2c514c; }
  .imgAnimate {
    grid-area: imgAnimate;
    padding: 0; }
  .imgAnimate2 {
    grid-area: imgAnimate2;
    padding: 0; }
  .imgAnim {
    width: 100%;
    height: 100%; }
  .textoImgUbic {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    font-size: 60px;
    color: white;
    font-weight: 900;
    font-family: Andale Mono, monospace; }
  .accordionStyle {
    grid-area: accordion;
    padding: 50px 5% 100px; } }

@media only screen and (max-width: 520px) {
  .textoUbicacion {
    grid-area: textoUbicacion;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2c514c;
    padding: 10%;
    height: 100%;
    font-size: 16px; }
  .gridQuienesSomos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: "imgAnimate imgAnimate" "texto texto" "imgAnimate2 imgAnimate2" "texto2 texto2" "textoForm textoForm" "form form"; }
  .texto {
    grid-area: texto;
    align-items: center;
    height: 100%;
    display: block;
    padding: 50px 0; }
  .texto2 {
    grid-area: texto2;
    align-items: center;
    height: 100%;
    display: block;
    padding: 50px 0; }
  .texto p {
    padding: 30px 15px;
    margin: 0;
    background-color: bisque;
    margin: 0 5%; }
  .texto2 p {
    padding: 30px 15px;
    margin: 0;
    background-color: bisque;
    margin: 0 5%; }
  .textoNosotros {
    text-align: center;
    background-color: bisque;
    margin: 0 5%;
    padding-top: 30px; }
  .imgPrincipalUbi {
    grid-area: imgPrincipalUbi;
    background-image: url("../img/fashion.jpg");
    min-height: 300px;
    background-attachment: local;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none !important; }
  .textoUbicacion1 p,
  .textoUbicacion2 p {
    font-size: 18px;
    color: #2c514c; }
  .imgUbic {
    grid-area: imgUbic;
    background-image: url("../img/moda.jpg");
    min-height: 350px;
    background-attachment: local;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none !important;
    display: block;
    padding: 50px; }
  .imgAnimate {
    grid-area: imgAnimate;
    padding: 0; }
  .imgAnimate2 {
    grid-area: imgAnimate2;
    padding: 0; }
  .imgAnim {
    width: 100%; }
  .textoImgUbic {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    font-size: 40px;
    color: white;
    font-weight: 900;
    font-family: Andale Mono, monospace; }
  .accordionStyle {
    grid-area: accordion;
    padding: 50px 2% 100px; } }
